.container {
  width: 1320px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* header */
/* section1 */
.box {
  background-color: #333333;
  color: #b3b3b3;
  margin: 0;
  padding: 0;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings {
  display: flex;
}
.language::after {
  margin-left: 5px;
  content: url(/img/arrow.png);
  margin-right: 10px;
}
.signs {
  margin-left: 10px;
}
.signs::before {
  content: url(/img/line.png);
  margin-right: 20px;
}
.sign::before {
  content: url(/img/sign1.png);
  margin-right: 5px;
}
/* end-section1 */

/* section2 */
.middle-top {
  align-items: center;
}
.Ecobazar-top::before {
  content: url(/img/plant1.png);
  margin-right: 10px;
}
.Ecobazar-top {
  font-size: 40px;
}
* {
  box-sizing: border-box;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid rgb(206, 204, 204);
  float: left;
  width: 350px;
  background: #ffffff;
  border-radius: 5px 0 0 5px;
}

form.example button {
  float: left;
  width: 100px;
  padding: 10px;
  background: #00b207;
  color: white;
  font-size: 17px;
  border: 1px solid rgb(206, 204, 204);
  border-left: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.phoners {
  padding-left: 120px;
}
form.example button:hover {
  background: #00b207;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.inputssss::before {
  content: url(/img/s.png);
}
.line {
  width: 3px;
  height: 30px;
  background-color: #878787;
}
.line2 {
    margin-left: 10px;
    margin-right: 10px;
}
.middle-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contents {
    display: grid;
}
.none {
    display: flex;
}
.prise {
    margin: 0;
    color: #4D4D4D;
}
.prise {
    padding-left: 10px;
}
.prise-bot {
    padding: 0;
    margin: 0;
}
.prise-bot {
    padding-top: 3px;
    margin-left: 10px;
    font-weight: 600;
}
/* end-section2 */

/* section3 */
.bottom-top {
    display: flex;
    align-items: center;
}
.box2 {
    background-color: #f2f2f2;
}
.categories {
    width: 240px;
    height: 60px;
    background-color: #00b207;
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.categoriesss {
    padding-left: 10px;
    padding-right: 10px;
}
.list-top {
    display: flex;
    color: #7f7f7f;
    font-weight: 300px;
}
.item-tops {
    font-size: 15px;
    padding-right: 10px;
}
#one::after,#one1::after,#one12::after,#one123::after{
    content: url(/img/grup11.png);
    padding-left: 4px;
}
#one,#one1,#one12,#one123,#one1234 {
    padding-right: 30px;
}
#one {
    padding-left: 25px;
}
.phoners {
    display: flex;
    align-items: center;
}
.item-tops:last-child {
    margin-right: 290px;
}
.phone {
    margin-left: 5px;
    font-weight: 1000px;
}
.item-tops:hover {
    color: #00b207;
}
.phone {
    font-weight: 600;
}
#one:hover::after,#one1:hover::after,#one12:hover::after,#one123:hover::after {
    content: url(/img/group3.png);
}
/* end-section3 */

/* ---------------------------------------------------------------end-header--------------------------------------------------------------------- */


/* main */
/* section1 */
.section1-main {
    display: flex;
}
.welcome {
   margin-top: 210px;
}
.img-main1 {
    margin-top: 68px;
    margin-bottom: 25px;
}
.welcome-to-shopery {
    color: #00b207;
    font-size: 20px;
    padding:0 ;
    margin: 0;
}
.fresh-healthy {
    color: #002602;
    font-size: 50px;
    font-weight: 1000px;
    padding: 0;
    margin: 0;
}
.free {
    color: #617f62;
    font-size: 17px;
}
.button1-main {
    width: 140px;
    height: 45px;
    background-color: #00b207;
    border: none;
    color: white;
    border-radius: 15px;
}
.tracker {
    display: flex;
    justify-content: center;
    padding-bottom: 82px;
}
.img-main1::after {
  content: url(/img/conters.png);
}
/* end-section1 */
/* section2 */
.div-no-idia {
  width: 320px;
  height: 222px;
  margin: 0;
  padding: 0;
  border: solid 1px rgb(223, 222, 222);
  border-right: none;
  background-color: #ffffff;
}
.logo-main {
  padding-bottom: 16px;
}
.text-section1-main {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.textt-section1-main {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.textt-section1-main {
  padding-top: 8px;
  padding-bottom: 40px;
}
#one12345 {
    border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}
#one123456 {
    border-radius: 10px 0 0 10px;
}
#two {
    border: solid 1px rgb(223, 222, 222);
    border-radius: 100px
}
.logo-main {
    padding-top: 30px;
    padding-left: 30px;
}
.delivery {
    display: flex;
    justify-content: center;
}

.text-section1-main {
    font-size: 20px;
    font-weight: 600px;
    padding-left: 40px;
    padding-right: 30px;
}
.textt-section1-main {
    color: #a2a2a2;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 25px;
}
.delivery {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(237,242,238,1) 50%);
}
.section1-main::before {
  content: url(/img/aoorw.png);
  align-items: center;
  display: flex;
  justify-content: center;
  padding-right: 50px;
}
.section1-main::after {
  content: url(/img/aoorw1.png);
  align-items: center;
  display: flex;
  justify-content: center;
}
.container-1 {
  width: 1600px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
.div-no-idia:hover {
  background-color: #00b207;
  color: white;
}
.div-no-idia:hover > p {
  color: white;
}
/* end-section2 */
/*  section3 */
.introducing {
  padding-top: 112px;
  background-color: #edf2ee;
}
.box3 {
  background-color: #edf2ee;
}
.introducing {
  text-align: center;
}
.introd {
  padding-top: 0;
  margin-top: 0;
  font-size: 40px;
}
.list-main-s3-div {
  display: flex;
  justify-content: center;
}
.list-main-s3 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
ul { list-style: none; }
.item-list34 {
  color: #7f7f7f;
}
.button1-main::after {
  align-items: center;
  padding-left: 10px;
  margin-top: 30px;
  content: url(/img/group\ 4.png);
}
.baton-main-s2or3 {
  align-items: center;
  text-align: center;
}
.list-main-s3 {
  padding-bottom: 50px;
}
.icon {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 20px;
}
.item-list34:hover {
  color: #00b207;
}
.item-list34:hover {
  border-bottom: 3px solid #00b207;
  padding-bottom: 10px;
}
.item-list34 {
  border-bottom: 3px solid #edf2ee;
  padding-bottom: 10px;
}
.img2 {
padding-right: 22px;
padding-left: 22px;
}
.cart {
  background-color: #ffffff;
  width: 320px;
}
.flex-box2222 {
  background-image: url(/img/jabko.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 273px;
  height: 270px;
}
.sale {
  background-color: #ea4b48;
  color: rgb(255, 255, 255);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sale-box {
  padding-top: 20px;
  padding-left: 20px;
}
.top-cart {
  display: flex;
  justify-content: space-between;
}
.img-box {
  display: grid;
  grid-template-columns: 46px;
  grid-template-rows: 46px;
}
.img-ssasa {
  width: 45px;
  height: 45px;
  
}
.img-box {
  padding-top: 15px;
  padding-right: 10px;
}
#fdsfsf {
  margin-top: 5px;
}
.greenapl {
  color: #2f5a32;
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.pri {
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.bottom-cart {
  text-align: start;
}
.bad-pri {
  color: #84a186;
  text-decoration: line-through;
  font-size: small;
  margin-top: 18px;
  padding-left: 3px;
  padding: 0;
  margin: 0;
  padding-left: 3px;
}
.prise-pri {
  display: flex;
  padding-top: 4px;
  margin-bottom: 11px;
}
.star15 {
  width: 15px;
  height: 15px;
}
.greenapl {
  padding-top: 20px;
}
.star22 {
  padding-bottom: 20px;
}
.bottom-cart {
  padding-left: 20px;
}
.bottom-cart {
  display: flex;
  justify-content: space-between;
}
.cart-img {
  width: 45px;
  height: 45px;
}
.cart-imgs {
  padding-right: 24px;
  padding-top: 40px;
}
#top-cart2 {
  background-image: url(/img/persik.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
}
#top-cart23 {
  background-image: url(/img/pomidor.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
}
#top-cart234 {
  background-image: url(/img/kapusta.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
}
#top-cart2345 {
  background-image: url(/img/lusta.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
}
#top-cart23456 {
  background-image: url(/img/paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
}
#top-cart234567 {
  background-image: url(/img/chilli.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
}
#top-cart2345678 {
  background-image: url(/img/eggplant.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
}
.cartsssssss {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.cart {
  border: solid 1px #eef3ee;
}
.cart:hover {
  border: solid 1px #2c742f;
  box-shadow: 0 0 10px #3f9e42;
}
.cart:hover .cart-img{
  content: url(/img/card222.png);
}
.cart:hover .herts {
  content: url(/img/herd.png);
  width: 48px;
  height: 48px;
}
.cart:hover .okis {
  content: url(/img/oko.png);
  width: 48px;
  height: 48px;
}
.cart:hover .top-cart {
  display: grid;
  justify-content: end;
  padding-right: 21px;
  flex-wrap: wrap;
  grid-template-columns: 48px;
  grid-template-rows: 48px;
}
.cart:hover .hertss {
  padding-top: 20px;
}
.cart:hover .okisss {
  padding-top: 26px;
}
.cart:hover .side-box-ok {
  background-color: #ea4b48;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.cart:hover .outside-box-ok {
  padding: 0;
  margin: 0;
}
.cart:hover .outside-box-ok {
  padding-top: 20px;
  margin-left: 20px;
}
.sal {
  font-size: 0;
}
.cart:hover .sal {
  font-size: medium;
}

.side-box-ok {
  background-color: #ffffff;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.cart:hover .flex-box2222 {
  display: flex;
  justify-content: space-between;
}
.bad-pri {
  font-size: 0;
}
.cart:hover .bad-pri {
  font-size: medium;
}
.cartsssssss {
  justify-content: center;
}
/* end-section3 */
/* section4 */
.milk {
  background-image: url(/img/img12.png);
  width: 420px;
  height: 255px;
  border-radius: 7px;
}
.koka {
  background-image: url(/img/img123.png);
  width: 424px;
  height: 255px;
  border-radius: 7px;
}
.organic {
  background-image: url(/img/img124.png);
  width: 424px;
  height: 255px;
  border-radius: 7px;
}
.products {
  padding-top: 100px;
  background-color: white;
}
.milk {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 24px;
}
.fresh {
  font-size: 33px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  width: 180px;
  padding-bottom: 8px;
}
.start-money {
  display: flex;
  padding-bottom: 16px;
}
.start-at {
  font-size: 20px;
  color: #cce3f1;
  padding: 0;
  margin: 0;
  padding-right: 5px;
  padding-top: 3px;
}
.pris1419 {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 600px;
  padding: 0;
  margin: 0;
}
.buton-s4 {
    width: 140px;
    height: 45px;
    background-color: #ffffff;
    border: none;
    color: #00b207;
    border-radius: 15px;
}
.buton-s4 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pading {
  padding-left: 5px;
}
.infosss {
  font-size: 17px;
  text-align: left;
  padding: 0;
margin: 0;
padding-bottom: 8px;
}
.infoaaa {
font-size: 32px;
font-weight: 600;
line-height: 38.4px;
text-align: left;
padding: 0;
margin: 0;
padding-bottom: 20px;
width: 160px;
}
.organic {
  padding-left: 32px;
  padding-top: 46px;
}
.infoq {
  font-size: 17px;
  padding: 0;
margin: 0;
padding-bottom: 8px;
}
.infow {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}
.buton-s44 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.buton-s44 {
width: 140px;
height: 45px;
background-color: #ffffff;
border: none;
color: #00b207;
border-radius: 15px;
}
.koka-side {
  padding: 0;
  margin: 0;
  padding-left: 220px;
  padding-top: 46px;
}
.box-products {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.box-s5g {
  background-color: #edf2ee;
}
.p-s5 {
  color: #00B207;
font-size: 20px;
font-weight: 500;
text-align: center;
padding: 0;
margin: 0;
padding-bottom: 12px;
}
#our-spe {
  padding-bottom: 24px;
}
.our-special-products {
  color: #002602;
font-size: 40px;
font-weight: 600;
line-height: 48px;
text-align: center;
margin: 0;
}
.offers {
  text-align: center;
  padding: 100px 0;
}
.boxs-s5 {
  background-color: white;
  align-items: center;
  text-align: center;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-bottom: 32px;
}
.h3-noun {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  font-size: 32px;
  color:#00B207;
}
.p3-noun {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  color: #618062;
  padding-top: 4px;
  font-size: 14px;
}
.flexsxsxsx {
  display: flex;
  justify-content: center;
}
.imgkrapka {
  display: flex;
  align-items: center;
  height: 20px;
  padding-left: 8px;
  padding-right: 8px;
}
.containersa {
  width: 1800px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
.offers {
  background-image:url(/img/owoceve.png) ,url(/img/owoce12.png);
  background-repeat: no-repeat;
  background-position: 5% 50%, 100% 100%;
}
.side-box-oki {
  background-color: #ea4b48;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.outside-box-oki {
  padding: 0;
  margin: 0;
}
.outside-box-oki {
  padding-top: 20px;
  margin-left: 20px;
}
.saldsdsc {
  font-size: medium;
}
.side-box-ok {
  background-color: #ffffff;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#pound20 {
  font-size: 15px;
  margin-bottom: 1px;
}
.greenapl {
  font-size: 16px;
}
.star154 {
  width: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0;
  padding-left: 0;
}
#pound202 {
  margin-bottom: 5px;
  margin-top: 2px;
}
#pound201 {
  padding-bottom: 0;
}
#top-botom-cart {
  height: 220px;
  background-size: 100%;
  background-position: 60% 50%;
}
.side-box-oki {
  width: 80px;
}
.cart:hover #greenapl1 {
  color: #2c742f;
}
#greenapl1 {
  color: #4c4c4c;
}
#card22:hover {
  border: solid 1px #2c742f;
  box-shadow: 0 0 5px #3f9e42;
}
#herts {
  width: 40px;
  height: 40px;
}
#okises {
  width: 40px;
  height: 40px;
}
#hertss {
  padding: 0;
  margin: 0;
}
#okisess {
  padding: 0;
  margin: 0;
  margin-top: 13px;
  margin-left: 20px;
}
#hertss {
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 20px;
}
#top-botom-cart1 {
  background-image: url(/img/orange.png);
  height: 220px;
  background-size: 100%;
  background-position: 60% 50%;
  width: 260px;
}
#side-box-oki-wit {
  background-color: rgba(255, 255, 255, 0);
}
#top-botom-cart12 {
  background-image: url(/img/kapuster.png);
  height: 220px;
  background-size: 100%;
  background-position: 60% 50%;
  width: 260px;
}
#top-botom-cart123 {
  background-image: url(/img/listochku.png);
  height: 220px;
  background-size: 100%;
  background-position: 60% 50%;
  width: 260px;
}
#box-cart-imgs {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  margin-right: 20px;
}
#pound201 {
  padding-bottom: 5px;
}
#top-botom-cart1234 {
  background-image: url(/img/pirple.png);
  height: 220px;
  background-size: 100%;
  background-position: 60% 50%;
  width: 260px;
}
.featured-link {
  display: flex;
  justify-content: center;
}
#top-botom-cart {
  width: 260px;
}
.featured {
  padding: 0;
  margin: 0;
}
.featured {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: #002E03;
font-size: 40px;
font-weight: 600;
}
.featured-link {
  padding-bottom: 100px;
}
.our-clients {
  background-color: #edf2ee;
}
.item-s5 {
  width: 390px;
}
.what-our-clients {
font-size: 40px;
font-weight: 600;
text-align: center;
color: #002603;
padding: 0;
margin: 0;
}
.what-our-clients {
  padding-top: 100px;
  padding-bottom: 43px;
  text-align: center;
}
.lapkis {
  background-color: #ffffff;
  border-radius: 7px;
  text-align: center;
}
.lapki {
  padding-top: 32px;
  padding-bottom: 24px;
}
.texst-s6 {
  padding: 0;
  margin: 0;
  padding-bottom: 38px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #406b42;
}
#proin {
  padding: 0;
  margin: 0;
  padding-bottom: 38px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #406b42;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(255, 255, 255);

}
.triangle-down1 {
  padding-left: 170px;
  padding-bottom: 16px;
} 
.jenny-wilson {
  text-align: center;
}
.foto-wilsona-box {
  padding-bottom: 14px;
}
.wilson, .customer {
  padding: 0;
  margin: 0;
}
.wilson {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #002602;
}
.customer {
font-size: 14px;
font-weight: 400;
text-align: center;
color: #617f62;

}
.flex-s5-or-s6 {
  display: flex;
  gap: 30px;
}
.our-clients {
  padding-bottom: 90px;
}
.video {
  background: rgb(237,242,238);
  background: linear-gradient(180deg, rgba(237,242,238,1) 50%, rgba(255,255,255,1) 50%);
}
.vidio-tl {
  background-image: url(/img/vidio.png);
  width: 1400px;
  height: 740px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.texst-we-are {
font-size: 36px;
font-weight: 600;
text-align: center;
color: #FFFFFF;
padding-top: 12px;
padding-bottom: 32px;
margin: 0;
}
.video-text {
  color: #FFFFFF;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.02em;
text-align: center;
padding-top: 257px;
margin: 0;
}
.content {
  width: 500px;
  text-align: center;
}
/* end-section4 */
.news {
font-size: 40px;
font-weight: 600;
text-align: center;
color: #002602;
padding-top: 100px;
padding-bottom: 50px;
margin: 0;
}
.latest-news {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(237, 242, 238, 1) 50%);
}
.item-s7 {
  background-color: white;
  width: 420px;
}
.top-cart-s7 {
  background-image: url(/img/foto1by1.png);
  width: 330px;
  height: 276px;
  text-align: center;
  margin-left: 24px;
  padding-top: 24px;
  margin-bottom: 24px;
  background-position: 50% 50%;
}
.porttitor,
.euismod,
.read-more {
  margin: 0;
}
.porttitor {
font-size: 18px;
font-weight: 600;
text-align: left;
color: #002603;
padding-bottom: 8px;
}
.euismod {
font-size: 14px;
font-weight: 400;
text-align: left;
color: #617f62;
padding-bottom: 20px;
}
.read-more {
font-size: 16px;
font-weight: 600;
text-align: left;
color: #00b207;
}
.read-more-box {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}
.arow-s7 {
  margin-left: 10px;
}
.bottom-cart-s7 {
  padding-left: 25px;
  padding-right: 25px;
}
.text23jan {
  background-color: white;
  width: 58px;
  height: 58px;
  border-radius: 5px;
  margin-left: 20px;
}
.text23jan-box {
  padding-top: 180px;
}
.t23,
.jan23 {
  margin: 0;
}
.t23 {
font-size: 25px;
font-weight: 600;
text-align: center;

}
.jan23 {
  color: #808080;
font-size: 15px;
font-weight: 500;
letter-spacing: 0.03em;
text-align: center;
}
.text23jan {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 6px;
  padding-bottom: 10px;
}
#top-cart-s72 {
  background-image: url(/img/img9.png);
}
#top-cart-s73 {
  background-image: url(/img/imgs10.png);
}
.flex-s7-box {
  display: flex;
  gap: 20px;
}
.latest-news {
  padding-bottom: 100px;
  border-bottom: solid 1px #d5e2d6;
}
.email {
  background-color: #edf2ee;
}
#ecobazar-bottom {
  margin: 0;
  padding-top: 57px;
  padding-bottom: 57px;
}
.last-sect-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subcribe-our-newsletter {
  margin: 0;
font-size: 24px;
font-weight: 600;
text-align: left;
color: #002603;
padding-bottom: 4px;
}
.subcribe-our-text {
  margin: 0;
font-size: 14px;
text-align: left;
color: #7A997C;
}
#icon33 {
  border-radius: 20px;
}
#icon34 {
  border-radius: 20px;
}
.footer-box-11 {
  background-color:#002603;

}
.footer-s1-flex-box {
  display: flex;
}
.footer-box-n-e {
  display: flex;
  align-items: center;
}
.morbi-box {
  width: 260px;
}
.aboute-footer {
font-size: 20px;
font-weight: 500;
text-align: left;
color: #FFFFFF;
margin: 0;
padding-top: 100px;
padding-bottom: 16px;
}
.morbi {
font-size: 14px;
font-weight: 400;
text-align: left;
color: #618062be;
margin: 0;
padding-bottom: 16px;
}
.footer-numb, .footer-maille {
  color: white;
font-size: 14px;
font-weight: 500;
text-align: left;
}
.footer-mor {
font-size: 16px;
font-weight: 400;
text-align: left;
color: #618062be;
padding-left: 16px;
padding-right: 16px;
}
.footer-account {
  font-size: 20px;
font-weight: 500;
text-align: left;
color: #FFFFFF;
margin: 0;
padding-top: 100px;
padding-bottom: 20px;
width: 105px;
}
.footer-s1-item2 {
  padding-left: 60px;
}
.item-s1-footer-i2-box, .item-s1-footer-i3-box, .item-s1-footer-i4-box {
  margin: 0;
  padding: 0;
}
.item-s1-footer-i2 {
  color: #618062be;
font-size: 14px;
font-weight: 400;
text-align: left;
padding-bottom: 12px;
}
.item-s1-footer-i2:last-child {
padding-bottom: 0;
}
.footer-s1-flex-box {
  padding-bottom: 100px;
}
.item-s1-footer-i2:nth-child(3) {
  color: #ffffffdb;
}
.footer-help {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
}
.item-s1-footer-i3 {
  color: #618062be;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 12px;
  width: 110px;
}
.footer-s1-item3 {
  padding-left: 78px;
}
.footer-s1-item4 {
  padding-left: 78px;
}
.footer-prox {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
}
.item-s1-footer-i4 {
  color: #618062be;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 12px;
  width: 95px;
}
.footer-s1-item5 {
  padding-left: 78px;
}
.footer-instagram {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
}
.items-s1-i5-imgs {
  margin: 0;
  padding-right: 10px;
  width: 70px;
}
.footer-s1 {
  border-bottom: solid 1px #1a421d;
}
.backraund0footer {
  background-color: #002602;
}
.shopetr {
font-size: 14px;
font-weight: 400;
text-align: left;
color: #618062be;
}
.last-footer-s-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialmedia {
  padding-top: 24px;
  padding-bottom: 24px;
}
.backraund0footer::before {
  background-image: url(/img/Left.png);
  background-size: 300px 300px;
  background-position: left;
}
.container-video {
  display: flex;
  justify-content: center;
}
.vidio-tl {
  background-size: 1400px;
}
h2.infow {
  width: 160px;
}
.saldsdscokiiiio {
  margin: 0;
  color: white;
}
.flex-box2222 {
  background-image: url(/img/jabko.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 270px;
}
.flex-box2222 {
  width: 300px;
  height: 270px;
}
#top-cart2 {
  background-image: url(/img/persik.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 270px;
}
#top-cart23 {
  background-image: url(/img/pomidor.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 270px;
}
#top-cart234 {
  background-image: url(/img/kapusta.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 270px;
}
#top-cart2345 {
  background-image: url(/img/lusta.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 270px;
}
#top-cart23456 {
  background-image: url(/img/paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 270px;
}
#top-cart234567 {
  background-image: url(/img/chilli.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 270px;
}
#top-cart2345678 {
  background-image: url(/img/eggplant.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 270px;
}
.organic {
  background-image: url(/img/img124.png);
  width: 400px;
  height: 255px;
  border-radius: 7px;
}
.item-s5 {
  width: 510px;
}
.triangle-down1 {
  padding-left: 190px;
  padding-bottom: 16px;
}
.vidio-tl {
  background-image: url(/img/vidio.png);
  width: 1300px;
  height: 740px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.top-cart-s7 {
  background-image: url(/img/foto1by1.png);
  width: 370px;
  height: 276px;
  text-align: center;
  margin-left: 24px;
  padding-top: 24px;
  margin-bottom: 24px;
  background-position: 50% 50%;
}
.euismod {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #617f62;
  width: 300px;
  padding-bottom: 20px;
}
.item-s7 {
  height: 460px;
}
.last-sect-box {
  display: flex;
  margin: 0;
}
#ecobazar-bottom {
  padding-right: 110px;
}
.subcribe-our-newsletter-box {
  padding-right: 60px;
}
#icon34 {
  width: 150px;
}
.flex-box-footer-s1-i5 {
  width: 300px;
}
.footer-s1-flex-box {
  display: flex;
  justify-content: space-between;
}
/* end-main */  


